body {
  background-color: #C3EAE3;
}
p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolds;
  font-family: "Times New Roman";
}
#ment2{
  display: none;
}
#ment3{
  display:none;
}
#ment4{
  display:none;
}
#ment5{
  display: none;
}
#img1{
  margin-left: auto;
  display:none;
  width: 200px;
  height: 200px;
}
#img2{
  display:none;
  margin-left: auto;
  width: 200px;
  height: 200px;
  }
